@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?mwzjsx");
  src: url("../fonts/icomoon.eot?mwzjsx#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?mwzjsx") format("truetype"), url("fonts/icomoon.woff?mwzjsx") format("woff"), url("../fonts/icomoon.svg?mwzjsx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="rs-icon-"]::before,
[class*=" rs-icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat-Medium.svg#Montserrat-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.eot");
  src: url("../fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff"), url("Montserrat-Black.ttf") format("truetype"), url("../fonts/Montserrat-Black.svg#Montserrat-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.rs-icon-arrow-right:before {
  content: "\e900";
}

.rs-icon-phone:before {
  content: "\e901";
}

.rs-icon-email:before {
  content: "\e905";
}

.rs-icon-map:before {
  content: "\e906";
}

.rs-icon-list-arrow_right:before {
  content: "\e903";
}

.rs-icon-list-arrow_down:before {
  content: "\e904";
}

.rs-icon-list-arrow_up:before {
  content: "\e907";
}

.rs-icon-list-arrow_left:before {
  content: "\e90e";
}

.rs-icon-clear:before {
  content: "\e902";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scrollbar-color: #0065b2 #ffffff;
  scrollbar-width: thin;
}

*::-moz-selection {
  background: #0065b2;
  color: #0065b2;
}

*::selection {
  background: #0065b2;
  color: #0065b2;
}

*::-webkit-scrollbar {
  cursor: pointer;
  width: 0.5rem;
  background: #ffffff;
  border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #0065b2;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: #0065b2 #0065b2;
  scrollbar-width: thin;
}

*::before::-moz-selection, *::after::-moz-selection {
  background: #0065b2;
  color: #0065b2;
}

*::before::selection, *::after::selection {
  background: #0065b2;
  color: #0065b2;
}

*::before::-webkit-scrollbar, *::after::-webkit-scrollbar {
  cursor: pointer;
  width: 0.5rem;
  background: #ffffff;
  border-radius: 0px;
}

*::before::-webkit-scrollbar-thumb, *::after::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #0065b2;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 130px;
}

html,
body {
  min-width: 320px;
  width: 100%;
  height: 100%;
}

body {
  color: #202e38;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 13px;
  background-color: #ffffff;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  outline: none;
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

button:active,
button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

a {
  cursor: pointer;
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*="__container"] {
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1600px;
}
