.rs-about-block {
  position: relative;
  margin: 160px 0px 0px;
}

@media (max-width: 1600px) and (min-width: 320px) {
  .rs-about-block {
    margin-top: calc(45px + (160 - 45) * ((100vw - 320px) / (1600 - 320)));
  }
}

@media (max-width: 992px) {
  .rs-about-block__container {
    padding: 0;
  }
}

.rs-about-block__line {
  position: absolute;
  top: 188px;
  left: 0;
  z-index: -2;
}

@media (max-width: 992px) {
  .rs-about-block__line {
    display: none;
  }
}

@media (max-width: 1600px) {
  .rs-about-block .section-title br {
    display: none !important;
  }
}

@media (max-width: 992px) {
  .rs-about-block .section-title {
    padding: 0px 15px;
  }
}

.rs-about-block__wrapper {
  margin-top: 50px;
}

@media (min-width: 993px) {
  .rs-about-block__wrapper {
    display: -ms-grid;
    display: grid;
        grid-template-columns: repeat(10, 1fr);
    gap: 30px;
  }
}

@media (max-width: 992px) {
  .rs-about-block__wrapper {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (min-width: 993px) {
  .rs-about-block .spollers {
    margin-left: -40px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    margin-top: 16px;
  }
}

.rs-about-block .spollers._spoller-init .spollers__title {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (any-hover: hover) {
  .rs-about-block .spollers._spoller-init .spollers__title:hover {
    color: #0065b2;
  }
  .rs-about-block .spollers._spoller-init .spollers__title:hover .spollers__icon::before {
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
        -ms-transform: translate(-50%, -50%) rotate(-90deg);
            transform: translate(-50%, -50%) rotate(-90deg);
  }
}

.rs-about-block .spollers._spoller-init .spollers__title .spollers__icon {
  margin-left: 20px;
  position: relative;
  display: block;
  max-width: 48px;
  max-height: 48px;
  min-width: 48px;
  min-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0065b2;
  -webkit-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.rs-about-block .spollers._spoller-init .spollers__title .spollers__icon::before, .rs-about-block .spollers._spoller-init .spollers__title .spollers__icon::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
      -ms-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
  width: 2px;
  height: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
}

.rs-about-block .spollers._spoller-init .spollers__title .spollers__icon::before {
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
      -ms-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
}

@media (min-width: 993px) {
  .rs-about-block .spollers._spoller-init .spollers__title._spoller-active {
    padding-top: 32px;
  }
}

.rs-about-block .spollers._spoller-init .spollers__title._spoller-active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 30px);
  height: 100%;
  background-color: #fff;
  z-index: -1;
  opacity: 1;
}

@media (max-width: 992px) {
  .rs-about-block .spollers._spoller-init .spollers__title._spoller-active::after {
    background-color: #f2f3f5;
  }
}

.rs-about-block .spollers._spoller-init .spollers__title._spoller-active .spollers__icon::before {
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
      -ms-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
}

.rs-about-block .spollers__item {
  position: relative;
}

@media (min-width: 993px) {
  .rs-about-block .spollers__item:not(:last-child) {
    border-bottom: 1px solid #e0e0e0;
  }
}

@media (max-width: 992px) {
  .rs-about-block .spollers__item {
    padding: 0px 15px;
    border-bottom: 1px solid #e0e0e0;
  }
  .rs-about-block .spollers__item:first-child {
    border-top: 1px solid #e0e0e0;
  }
}

.rs-about-block .spollers__title {
  background-color: transparent;
  padding: 23px 54px 24px 40px;
  text-align: left;
  width: 100%;
  cursor: default;
  min-height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1600px) and (min-width: 320px) {
  .rs-about-block .spollers__title {
    padding-top: calc(20px + (23 - 20) * ((100vw - 320px) / (1600 - 320)));
    padding-bottom: calc(20px + (24 - 20) * ((100vw - 320px) / (1600 - 320)));
  }
}

@media (min-width: 992px) {
  .rs-about-block .spollers__title {
    min-height: 96px;
  }
}

@media (max-width: 992px) {
  .rs-about-block .spollers__title {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.rs-about-block .spollers__title span {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;
  max-width: 560px;
}

@media (max-width: 1600px) and (min-width: 320px) {
  .rs-about-block .spollers__title span {
    font-size: calc(16px + (21 - 16) * ((100vw - 320px) / (1600 - 320)));
    line-height: calc(23px + (28 - 23) * ((100vw - 320px) / (1600 - 320)));
  }
}

.rs-about-block .spollers__body {
  padding-bottom: 35px;
  padding-left: 40px;
}

@media (max-width: 992px) {
  .rs-about-block .spollers__body {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    margin-top: -5px;
  }
}

.rs-about-block .spollers__body p {
  max-width: 644px;
}

.rs-about-block__picture {
  overflow: hidden;
  position: relative;
}

@media (min-width: 993px) {
  .rs-about-block__picture {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 6/11;
  }
}

.rs-about-block__picture .rs-about-block__picture_wrapper {
  opacity: 0;
  -webkit-transition: all 0s ease 0.8s;
  -o-transition: all 0s ease 0.8s;
  transition: all 0s ease 0.8s;
	height: 100%;
	width: 100%;
}

.rs-about-block__picture.aos-animate .rs-about-block__picture_wrapper {
  opacity: 1;
}

.rs-about-block__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.rs-about-block__picture_item {
opacity: 0;
visibility: hidden;
position: absolute;
top: 0;
left: 0;
transition: 0.3s ease 0s;
transition-property: opacity, visibility;
	height: 100%;
	width: 100%;
}

.rs-about-block__picture_item._content-active {
opacity: 1;
visibility: visible;
position: relative;
}

.rs-about-block__picture_item._content-active img {
	opacity: 1;
}


.rs-about-block__picture_item::after, .rs-about-block__picture_item::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rs-about-block__picture_item::before {
  background-color: #0065b2;
  z-index: 1;
  -webkit-transform: translateX(-101%);
      -ms-transform: translateX(-101%);
          transform: translateX(-101%);
}


.rs-about-block__picture_item::after {
  background-color: #0c2b60;
  z-index: 2;
  -webkit-transform: translateX(-101%);
      -ms-transform: translateX(-101%);
          transform: translateX(-101%);
}


.rs-about-block__picture_item._content-active::before {
  -webkit-animation: animationPicture 1.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
          animation: animationPicture 1.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}


.rs-about-block__picture_item._content-active::after {
  -webkit-animation: animationPicture 1.2s 0.2s cubic-bezier(1, 0, 0.54, 0.99) forwards;
          animation: animationPicture 1.2s 0.2s cubic-bezier(1, 0, 0.54, 0.99) forwards;
}


